<div class="row">
  <div class="col-12">
    <div class="card" *ngIf="video">
      <div class="card-header">
        <h3>{{video.title}}</h3>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <video controls id="video-player">
                  <source src="{{urlUploads}}video_files/video_{{video.id}}/{{video.videoPath}}">
                  Tu navegador no es compatible con HTML5
                </video>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <div class="card-header">
                <h4>Detalles</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title">Descripción</h4>
                <p class="card-text">{{video.description}}</p>
                <h4 class="card-title">Subido por</h4>
                <p class="card-text">{{video.user.name}} {{video.user.surname}}</p>
              </div>
              <div class="card-footer text-muted">
                Creado el día {{video.createdAt.timestamp * 1000 | date:'dd-MM-yyyy'}}
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card text-left">
              <div class="card-body">
                <ul id="videos-list" *ngIf="lastVideos">
                  <li *ngFor="let lastVideo of lastVideos" class="last-video-item pull-left row">
                    <div class="last-video-image-thumb col.4 pull-left">
                      <img src="{{urlUploads}}/video_images/video_{{lastVideo.id}}/{{lastVideo.image}}" *ngIf="lastVideo.image">
                    </div>

                    <div class="data col-8 pull-left">
                      <h5><a [routerLink]="['/video', lastVideo.id]" >{{lastVideo.title}}</a></h5>
                      <a [routerLink]="['/video', lastVideo.id]" >{{lastVideo.user.name}}</a>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="loader" *ngIf="loading == 'show'">
      <img src="assets/images/ajax_loader_red.gif" width="10%"/>
    </div>

  </div>
</div>
