<div class="row">

  <div class="col-4">
    <div class="card border-info">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <div class="card-text" *ngIf="!identity || identity === null">Inicia sesión</div>
        <div class="card-text" *ngIf="identity && identity !== null">Bienvenido {{identity.name}}</div>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
  <div class="col-4">
    <app-last-videos></app-last-videos>
  </div>

</div>


<div class="card-columns">



</div>
