
#videos-list{
  list-style: none;
  padding: 0;
}

.video-image-thumb{
  width: 230px;
  height: 150px;
  overflow: hidden;
  background: #DDDDDD;
}

.video-image-thumb img {
  width: 100%;
}

.video-item {
  border: 1px solid #DDDDDD;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  border-top: 1px solid #DDDDDD;
}
