  <!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img alt="logo" src="favicon.ico" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" rel="noopener" [routerLink]="['index']">Home</a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" rel="noopener" [routerLink]="['createVideo']">Crear Video
            <fa-icon
              [icon]="faVideo"
              [spin]="true"
            ></fa-icon>
          </a>
        </li>
        <li>{{identity | json}}</li>
        <li>{{token | json}}</li>
      </ul>
      <ul class="nav navbar-nav mr-auto" *ngIf="identity" id="credentials-top">
        <li class="dropdown open">
          <button href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"
          aria-haspopup="true">
            <fa-icon [icon]="faIdCard" size="xs" class="mr-1"></fa-icon>
            {{identity.name}} {{identity.surname}}
            <ul class="dropdown-menu">
              <li>
                <button [routerLink]="index" class="dropdown-item">
                  <fa-icon [icon]="faHome" size="xs" class="mr-1"></fa-icon>
                  Mi Canal
                </button>
              </li>

              <li>
                <button [routerLink]="index" class="dropdown-item">
                  <fa-icon [icon]="faCog" size="xs" class="mr-1"></fa-icon>
                  Ajustes
                </button>
              </li>

              <li role="separator" class="divider"></li>

              <li>
                <button [routerLink]="logout" class="dropdown-item">
                  <fa-icon [icon]="faSignOutAlt" size="xs" class="mr-1"></fa-icon>
                  Salir
                </button>
              </li>

            </ul>
          </button>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" rel="noopener" [routerLink]="['register']">
            Register
            <fa-icon [icon]="faRegistered" size="xs"></fa-icon>
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link" rel="noopener" [routerLink]="['login']">
            Acceder
            <fa-icon [icon]="faUser" size="1x"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="mt-3">
    <router-outlet></router-outlet>
  </main>

</div>
